.rectangle{
    height: 20px;
    widht: 50px;
    background-color: black;
text-decoration-color: azure;
}
img{
    max-width:40%;
    max-height: 40%;
    padding-left: 190px;
    
    
}

p{
    font-family: 'Raleway', sans-serif;
    font-size:25px;
    color:black;
    text-align: inherit;
    padding-left: 190px;
    padding-right: 190pxpx;

}
.a-text{
    font-family: monospace;
    color:black;
    padding-top: 3px;
    padding-bottom:3px;
    padding-left:20px;
    padding-right: 150px;
    border-color: black;
    border-width: medium;
    border-style: dotted;
    background-color: skyblue;
    margin-left: 180px;
    margin-right: 180px;
    
    transition: box-shadow 1s, background 1s;
}


.a-text:hover{
    background:white;
		box-shadow:0px 0px 10px #000;
}
h1{
    font-family: 'PT Sans',sans-serif;
    font-size: 40px; 

    text-align: center;
}

    
}

.b-text{
    padding-left: 190px;
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 30px;
    color: blueviolet;
}

h2{
    font-family: 'Roboto Condensed',sans-serif;
    color: black;
    padding-left: 190px;
    font-size: 30px;
}

}
.d-text{
    font-family: 'PT Sans',sans-serif;
    color:cadetblue;
    text-align: center;}
.g{
    padding-left: 190px;
    font-size: 25px;
    padding-right: 190px;
    color: black;

}
.k{
    padding-right: 200px;
    padding-left: 200px;
    font-size: 25px;
    color: black;}

    



p1{
    font-family: 'Noto Sans JP',sans-serif;
    color: cadetblue;
    padding-left: 190px;
    font-size: 30px;
}
h4{
    padding-left: 190px;
    font-family: sans-serif;
    
}
ul{
    font-family: 'Noto Sans JP',sans-serif;
    font-size: 20px;
    color: black;
    padding-left: 190px;
    
}
a{
    padding-left: 190px;
}

body{
    background-image: url(simple-1591339773375-5174.jpg);
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .a-text, .k, .b-text, h1, h2, p, p1 {
    width: 100%;
  }
}
